<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="org.jboss.tools.windup.am.CommandHandler">
            <command id="am.generateDiagnostics"/>
       </delegateCommandHandler>
   </extension>
</plugin>
